<h3>ScullyIo content</h3>
<hr>

<h1>Links</h1>
<ul>
    <li><a [routerLink]="['/news', '2020-07-29-news']">News</a></li>
</ul>

<!-- This is where Scully will inject the static HTML -->
<scully-content></scully-content>
<hr>
<h4>End of content</h4>
